<!DOCTYPE  html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <title> {% block title %} AdoptApp {% endblock %} </title>
</head>

<body>
<nav>
    <ul>
        <li class="logo clickable"> AdoptApp</li>
            <div class="search">
                <li class="search-icon">
                    <span class="fas fa-search cyan"></span>
                    <input class="input-field" type="search" placeholder="Buscar en AdoptApp">
                </li>
                <li class="filter-icon">
                    <span class="fas fa-filter cyan clickable"></span>
                </li>
            </div>
            <li class="separator"></li>
            <div class = "user-options">
                <li class="avatar">
                    <img class="clickable" src="{% static 'images/default-avatar.png' %}" />
                </li>
                <li>
                    <span class="fas fa-bell clickable icon-l"></span>
                </li>
                 <li>
                    <span class="fas fa-bars clickable icon-l"></span>
                </li>
            </div>


    </ul>
</nav>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>