{% extends 'base.html' %}
{% load static %}

{% block include %}
    <link rel="stylesheet" href="{% static 'adoptapp/css/homepage.css' %}">
{% endblock include %}

{% block title %}
    Homepage
{% endblock title %}

{% block content %}
    <div id="title-post">
        <span id="title-post-1">Últimas</span><span id="title-post-2">Publicaciones</span>
    </div>
    <div id = "presentation">
       {% for post, photo in posts %}
            {% with post.id|stringformat:"s" as post_url %}
                {% if request.user.is_authenticated %}
                    <a href="{{ "post/"|add:post_url }}">
                    <div class="pet-post hvr-grow">
                {% else %}
                    <div class="pet-post hvr-grow non-clickable">
                {% endif %}
                        <img class="pet-img" src="{{ photo.image.url }}" alt="Foto publicación">
                        <div class="post-info">
                                <div>
                                    <span class="info bold-700 s16">{{post.pet_name}}, </span>
                                    <span class="breed light-400 s16 soft-brown">
                                        {{ post.get_specie_display }} -
                                        {% if post.breed %}{{ post.breed }}
                                        {% else %} Raza no especificada
                                        {% endif %}</span>
                                </div>
                                <div class="info info-date">Publicado el {{ post.post_date }}</div>
                        </div>
                    </div>
               {% if request.user.is_authenticated %}
                   </a>
               {% endif %}
           {% endwith %}
     {% endfor %}
    </div>
{% endblock %}
