*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html,body{
    height:100%;
}

#container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.padded-icon {
    font-size: 25px;
    padding: 8px 8px 8px 8px;
}

.fas{
    font-size: 25px;
}

.white{
    color: white;
}

.black{
    color: black;
}

.highlight-color{
    color: #006699;
}

.icon-l {
    font-size: 32px;
    padding: 12px 12px 12px 12px;
}

.clickable {
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #636e72;
}

a:hover {
    color: #006699;
}

/* Switches cuadrados y redondos */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
    flex-direction: column;
    justify-content: space-between;
    background-color: #d2cfcf;
    line-height: 1;
    font-family: Helvetica, Arial, sans-serif;
}

#content {
    padding-top: 20px;
    flex-grow: 1;
    width: 50%;
    max-width: 1000px;
    margin:  auto;
    z-index: 1;
    background-color: white;
}

#footer{
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
    z-index: 1;
    color: #4a4a4a;
    font-size: 12px;
    background-color: white;

}


@media screen and (max-width: 1920px) {
    #content {
        width: 100%;
    }
    #footer {
        width: 100%;
    }
}



.text-center {
    text-align: center!important;
}

.vspaced10 {
    padding: 10px 0 10px 0;
}

.vspaced5 {
    padding: 5px 0 5px 0;
}

.bold-700 {
    font-weight: 700;
}

.light-400 {
    font-weight: 400;
}

.light-300 {
    font-weight: 300;
}

h3 {
    font-size: 34px;
}
h4 {
    font-size: 28px;
}

h5 {
    font-size: 18px;
}

.s14 {
    font-size: 14px;
}

span{
    font-size: 14px;
}

.navigation-options{
    padding-top: 30px;
    color: dodgerblue;
    text-decoration: underline;
}

.navigation-link{
    cursor: pointer;
}

button{
    cursor:pointer;
}


button:disabled{
    border-color: #d2d2d2;
    background-color: #d6d6d6;
}

.button-blue{
    border-color: #1386e3;
    background-color: #0e8df5;
}

.button-yellow{
    border-color: #eabe2f;
    background-color: #ffc300;
}

.button-gray{
    border-color: #a9a9a9;
    background-color: #a7a7a7;
}

.button-blue-paw{
    border-color: #6395ad;
    background-color: #6395ad;
}

.beauty-button{
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.m-shadow-section{
    box-shadow: 0px 10px 14px -7px #5d5c5c;
}

.s-shadow-section{
}

.xs-shadow-section{
    box-shadow: 0px 2px 3px -1px #5d5c5c;
}

.deep-blue{
    color: #2c3e50;
}

.soft-blue{
    color: #35495e;
}

.deep-brown{
    color: #a56a43;
}

.soft-brown{
    color: #cb8252;
}

.italic{
    font-style: italic;
}

#add_post{
    color: white;
    margin-right: 18px;
}

#add_post:hover{
    color: #006699;
}

/* Shadow */
.hvr-shadow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
/* Grow */
.hvr-grow {
  z-index: 1;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.hvr-big-grow {
  z-index: 1;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-big-grow:hover, .hvr-big-grow:focus, .hvr-big-grow:active {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

input {
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.4);
}

input:focus{ outline: none;}

select {
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.4);
}

select:focus{ outline: none;}

.form-group{
    margin-bottom: 10px;
    font-size: 14px;
}

.form-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.form-row > * {
    flex-grow: 1;
}

textarea:focus{ outline: none;}