

h1{
    font-size: 60px;
    margin-top: 5px;
}

#title-post{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}

#title-post-1{
    font-size: 40px;
    font-family: Tahoma, serif;
    font-weight: 500;
    color: #a56a43;
    margin-right: 20px;
}

#title-post-2{
    font-size: 40px;
    font-family: Tahoma, serif;
    font-weight: 500;
    color: #2c3e50;
}

#content, #footer {
    top: 50%;
    left: 50%;
    width: 70%;
    max-width: 1400px;
    max-height: 100%;
}

/*
#footer {
    background-color: transparent !important;
}*/

form {
    width: 52%;
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    background: rgb(238, 238, 238);
    box-shadow: #00000012 0 0 5px 3px;
    border-radius: 25px;
    border: 2px solid #2c3e50;
}

input, select, textarea{
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

textarea {
    max-height: 100px;
    font-family: Arial, serif;
}

input, select::placeholder {
    text-align: center;
}

.beauty-button {
    width: 60%;
    margin-top: 15px;
}

.beauty-button{
    padding: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-input {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    position: static;
}

.form-text {
    margin-left: 0;
}

.first-image {
  position: static;
  top: -10px;
  width: 9.6vw;
  height: 4vw;
  min-width: 130px;
  min-height: 54px;
}

.inline-image {
  position: static;
  right: 3px;
  top: 3px;
  width: 35px;
  height: 35px;

}

#buscar-adoptapp > *{
    text-align: left;
}

#id_status {
    flex-grow: 0;
    max-width: 250px;
}

input[type="file"]{
    max-width: 350px;
}