<!DOCTYPE  html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/authentication.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <script type="text/javascript" src="{% static 'users/js/jquery-3.6.0.min.js' %}"></script>
    <title> {% block title %} AdoptApp - Autentificación {% endblock %} </title>
    <!-- <script>
        $(document).ready(function () {
            var urls = ['bg17.jpg', 'bg9.jpg', 'bg19.jpg', 'bg16.jpg', 'bg14.jpg', 'bg13.jpg'];
            var cout = 1;
            setInterval(function () {
                var image = $('body');
                image.fadeOut(400, function() {
                    image.css('background-image', 'url(' +  "{% static 'users/media/auth-bg/' %}" + urls[cout] +')');
                }).fadeIn(400);
                cout === urls.length - 1 ? cout = 0 : cout++;
            }, 10000);
        });
    </script> -->
    {% block include %}
    {% endblock %}
</head>


<body>
     <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id=footer>
        <p class="container creditos">
        <p class="text-center vspaced5">Proyecto del curso CC4401 - Ingeniería de Software.</p>
        <p class="text-center vspaced5">Equipo 01</p>
        <p class="text-center vspaced5"> Icono ''Paw'' creación de <a href="https://www.flaticon.com/authors/smashicons"
                                                                      title="Smashicons">
            Freepik</a>, extraídos de <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
        <p class="text-center vspaced5">Fotos extraídas de <a href="https://www.pexels.com/search/dog/" title="Pexels">www.pexels.com </a>
        </p>
        <br>
    </div>

</body>
</html>
