{% extends "users/profile.html" %}
{% load static %}
{% block title %}
    Perfil de usuario
{% endblock title %}
{% block include %}
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/gears_button.js' %}"></script>
{% endblock include %}
{% block profile-section %}
        <div class="profile-section" id="privacy-section">
            <h5 class="section-title" id="title-privacy">Configuración de datos y privacidad</h5>
            <div class = "subsection">

                <div class="row">
                  <div class="column">
                      <span class="bold-700 s16 cinf">Nombre: </span>
                  </div>
                  <div class="column">
                      <span class="s16"> Nombre Apellido</span>
                  </div>
                  <div class="column">
                      <i class="fas fa-pencil-alt"></i>
                  </div>
                </div>

                <div class="row">
                  <div class="column">
                    <span class="bold-700 s16 cinf">F. de nacimiento:</span>
                  </div>
                  <div class="column">
                    <span class="s16"> 20/04/2020</span>
                  </div>
                  <div class="column">
                  </div>
                </div>

                <div class="row">
                    <div class="column">
                        <span class="bold-700 s16 cinf">Dirección: </span>
                    </div>
                    <div class="column">
                        <span class="s16">Shiganshina 1521</span>
                    </div>
                    <div class="column">
                        <i class="fas fa-pencil-alt"></i>
                    </div>
                  </div>

                <div class="row">
                    <div class="column">
                        <span class="bold-700 s16 cinf">Comuna: </span>
                    </div>
                    <div class="column">
                        <span class="s16"> Paridis</span>
                    </div>
                    <div class="column">
                        <i class="fas fa-pencil-alt"></i>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <span class="bold-700 s16 cinf">Región: </span>
                    </div>
                    <div class="column">
                        <span class="s16"> Región de Valparaíso</span>
                    </div>
                    <div class="column">
                        <i class="fas fa-pencil-alt"></i>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <span class="bold-700 s16 cinf">Teléfono: </span>
                    </div>
                    <div class="column">
                        <span class="s16"> 569 5695 6956</span>
                    </div>
                    <div class="column">
                        <i class="fas fa-pencil-alt"></i>
                    </div>
                </div>

                <div class="cancel-save-buttons">
                    <button class="beauty-button button-gray">Cancelar cambios</button>
                    <button class="beauty-button button-yellow">Guardar cambios</button>
                </div>

            </div>
        </div>
        <div class="profile-section" id="password-section">
            <h5 class="section-title" id="title-password">Modificar contraseña</h5>
            <div class="subsection">
                <div class="special-left-align">
                    <div class="vspaced5">
                        <label for="password" class="bold-700 s16 cinf">Contraseña actual: </label>
                        <input class="pwd" type="password" name="password">
                    </div>
                    <div class="vspaced5">
                        <label for="new-password" class="bold-700 s16 cinf">Nueva contraseña: </label>
                        <input class="pwd" type="password" name="new-password">
                    </div>
                    <div class="vspaced5">
                        <label for="""new-password" class="bold-700 s16 cinf">Repita la nueva contraseña: </label>
                        <input class="pwd" type="password" name="repeat-password">
                    </div>
                </div>
                <div class="cancel-save-buttons">
                    <button class="beauty-button button-gray">Cancelar cambios</button>
                    <button class="beauty-button button-yellow">Guardar cambios</button>
                </div>
            </div>
        </div>
        <div class="navigation-options">
            <span>
            <span class="fas fa-eye navicon"></span><span class="navigation-link"> Ver perfil como invitado</span>
            <span class="fas fa-home navicon"></span><span class="navigation-link"> Volver a la página principal</span>
            </span>
        </div>
{% endblock profile-section %}

