{% extends 'base.html' %}
{% load static %}

{% block include %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock include %}

{% block title %}
    Homepage
{% endblock title %}

{% block content %}

    <div id = "presentation">


        <div class="pet-post">
            <div class="post-img">
                <img class="pet-img" alt='Dog running' src={%  static 'media/dog.jpeg' %}  onclick="">
            </div>
            <div class="post-info">
                <p>
                    Info de la mascota
                </p>
            </div>
        </div>

        <div class="pet-post">
            <div class="post-img">
                <img class="pet-img" alt="little hamster" src={% static 'media/hamster.jpeg' %}  onclick="">
            </div>
            <div class="post-info">
                <p>
                    Info de la mascota
                </p>
            </div>
        </div>

        <div class="pet-post">
            <div class="post-img">
                <img class="pet-img"  alt="angry cat" src={% static 'media/cat.jpeg' %} onclick="">
            </div>
            <div class="post-info">
                <p>
                    Info de la mascota
                </p>
            </div>
        </div>


    </div>

{% endblock %}
