{% extends 'base.html' %}
{% load static %}

{% block include %}
    <link rel="stylesheet" href="{% static 'users/css/homepage.css' %}">
{% endblock include %}

{% block title %}
    Homepage
{% endblock title %}

{% block user %}
    <a href="login.html">iniciar sesión</a>
{% endblock user %}
{% block content %}

    <div id = "presentation">

        <div class="pet-post" onclick=""">
            <img class="pet-img" alt='Dog running' src={%  static 'users/media/dog.jpeg' %}  >
            <div class="post-info">
                <p>
                        Info de la mascota
                </p>
            </div>
        </div>

        <div class="pet-post" onclick="">
            <img class="pet-img" alt="little hamster" src={% static 'users/media/hamster.jpeg' %} >
            <div class="post-info">
                <p>
                    Info de la mascota
                </p>
            </div>
        </div>

        <div class="pet-post" onclick="">
            <img class="pet-img"  alt="angry cat" src={% static 'users/media/cat.jpeg' %} >
            <div class="post-info">
                <p>
                    Info de la mascota
                </p>
            </div>
        </div>


    </div>

{% endblock %}
