{% extends 'base.html' %}
{% load static %}

{% block title %}
    Homepage
{% endblock %}

{% block include %}
    <link rel="stylesheet" type="text/css" href={% static "css/homepage.css" %}/>
{% endblock %}


{% block content %}

    <div id = "presentation">


        <div class="pet-post">
            <div class="post-img">
                <img class="pet-img" src="../../static/media/dog.jpeg" alt="Dog running" onclick="">
            </div>
            <div class="post-info">
                <p>
                    Info de la mascota
                </p>
            </div>
        </div>

        <div class="pet-post">
            <div class="post-img">
                <img class="pet-img" src="../../static/media/dog.jpeg" alt="Dog running" onclick="">
            </div>
            <div class="post-info">
                <p>
                    Info de la mascota
                </p>
            </div>
        </div>


    </div>

{% endblock %}
