{% extends "users/base-authentication.html" %}
{% load static %}
{% block title %}
    Iniciar sesión
{% endblock title %}
{% block include %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
    <script defer src="{% static 'users/js/modal.js' %}"></script>
{% endblock include %}
{% block content %}
    <form method="post">
        <img class="first-image" src="{% static 'images/logo-adoptapp.png' %}" alt="User login">
        {% csrf_token %}
        <div class="form-group">
            <div class="form-input">
                <img class="inline-image" src="{% static 'users/media/user_email.png' %}" alt="User email">
                <input type="text" class="form-control" id="correo_usuario" name="correo" placeholder="CORREO" required>
            </div>
        </div>
        <div class="form-group">
            <div class="form-input">
                <img class="inline-image" src="{% static 'users/media/user_password.png' %}" alt="User password">
                <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="CONTRASEÑA"required>
            </div>
        </div>
        <button class="beauty-button button-blue-paw hvr-grow" type="submit">Entrar</button>
        <div class="register">
            <p>¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
        </div>
    </form>
    {% if errores %}
        <div class="modal is-visible login" id="modal1">
            <div class="modal-dialog">
                    {% for i in errores %}
                        <p>{{ i }}</p><br>
                    {% endfor %}
                <button class="beauty-button button-blue" onclick="cerrar()">Cerrar</button>
            </div>
        </div>
    {% endif %}
{% endblock content %}

