{% extends "users/profile.html" %}
{% load static %}
{% block title %}
    Perfil de usuario
{% endblock title %}
{% block profile-section %}
        <div class="profile-section" id="publications-section">
            <h5 class="section-title">Publicaciones</h5>
            <div id="publications-list">

                <div class="publication">
                    <div class="publication-info">
                        <img class="publication-photo" src="{% static 'images/default-avatar.png' %}" alt="Publication photo">
                        <div class="publication-title-info">
                            <span class="bold-700 s16">Búsqueda: Cachorro de Labrador</span>
                            <div>
                                <span class="fas fa-eye padded-icon"></span><span>54 visualizaciones</span>
                            </div>
                            <div>
                                <span class="far fa-comments"></span><span>5 comentarios</span>
                            </div>
                        </div>
                        <div class="publication-date-button">
                            <div class="publication-date">03-12-2021</div>
                            <button class="beauty-button button-blue go-to-publication">Ir a la publicación</button>
                        </div>
                    </div>
                </div>

                <div class="publication">
                    <div class="publication-info">
                        <img class="publication-photo" src="{% static 'images/default-avatar.png' %}" alt="Publication photo">
                        <div class="publication-title-info">
                            <span class="bold-700 s16">Búsqueda: Cachorro de Labrador</span>
                            <div>
                                <span class="fas fa-eye padded-icon"></span><span>54 visualizaciones</span>
                            </div>
                            <div>
                                <span class="far fa-comments"></span><span>5 comentarios</span>
                            </div>
                        </div>
                        <div class="publication-date-button">
                            <div class="publication-date">03-12-2021</div>
                            <button class="beauty-button button-blue go-to-publication">Ir a la publicación</button>
                        </div>
                    </div>
                </div>

                <div class="publication">
                    <div class="publication-info">
                        <img class="publication-photo" src="{% static 'images/default-avatar.png' %}" alt="Publication photo">
                        <div class="publication-title-info">
                            <span class="bold-700 s16">Búsqueda: Cachorro de Labrador</span>
                            <div>
                                <span class="fas fa-eye padded-icon"></span><span>54 visualizaciones</span>
                            </div>
                            <div>
                                <span class="far fa-comments"></span><span>5 comentarios</span>
                            </div>
                        </div>
                        <div class="publication-date-button">
                            <div class="publication-date">03-12-2021</div>
                            <button class="beauty-button button-blue go-to-publication">Ir a la publicación</button>
                        </div>
                    </div>
                </div>

                <div class="publication">
                    <div class="publication-info">
                        <img class="publication-photo" src="{% static 'images/default-avatar.png' %}" alt="Publication photo">
                        <div class="publication-title-info">
                            <span class="bold-700 s16">Búsqueda: Cachorro de Labrador</span>
                            <div>
                                <span class="fas fa-eye padded-icon"></span><span>54 visualizaciones</span>
                            </div>
                            <div>
                                <span class="far fa-comments"></span><span>5 comentarios</span>
                            </div>
                        </div>
                        <div class="publication-date-button">
                            <div class="publication-date">03-12-2021</div>
                            <button class="beauty-button button-blue go-to-publication">Ir a la publicación</button>
                        </div>
                    </div>
                </div>

              </div>
        </div>
        <div class="navigation-options">
            <span>
            <a href="{% url 'home' %}"><span class="fas fa-home navicon"></span><span class="navigation-link"> Volver a la página principal</span></a>
            </span>
        </div>
{% endblock profile-section %}

