{% extends "users/base-authentication.html" %}
{% load static %}
{% block title %}
    Registro
{% endblock title %}
{% block include %}
    <link rel="stylesheet" href="{% static 'users/css/register.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/modal.css' %}">
    <script defer src="{% static 'users/js/register.js' %}"></script>
    <script defer src="{% static 'users/js/modal.js' %}"></script>

    <script defer src="{% static 'users/js/region_comuna_form.js' %}"></script>
{% endblock include %}
{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}

        <input type="hidden" id="id_birth_date" name="birth_date" value="2000-01-01">
        <img class="first-image" src="{% static 'images/logo-adoptapp.png' %}" alt="User login">
        <div class="form-row">
            <div class="form-group">
                <label class="form-text" for="email">Email</label>
                <div class="form-input">
                    {{ form.email }}
                </div>
            </div>
            <div class="form-group">
                <label class="form-text" for="password">Contraseña</label>
                <div class="form-input icon-right">
                    {{ form.password }}
                    <i class="fa fa-eye" id="show_pwd"></i>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="form-text" for="first_name">Nombre</label>
                <div class="form-input">
                    {{ form.first_name }}
                </div>
            </div>

            <div class="form-group">
                <label class="form-text" for="last_name">Apellido</label>
                <div class="form-input">
                    {{ form.last_name }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-text" for="birth_date">Fecha de nacimiento</label>
            <div class="form-input">
                {{ form.birth_date }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="form-text" for="phone_number">Número de teléfono</label>
                <div class="form-input">
                    {{ form.phone_number }}
                </div>
            </div>
            <div class="form-group">
                <label class="form-text" for="address">Dirección</label>
                <div class="form-input">
                    {{ form.address }}
                </div>
            </div>
        </div>
        <div class="form-group">
                <div class="form-input">
                    <div class="form-row">
                    <div class="region-column">
                        <label class="form-text" for="region">Región</label>
                        {{ form.region }}
                    </div>
                    <div class="comuna-column">
                        <label class="form-text" for="comuna">Comuna</label>
                        {{ form.comuna }}
                    </div>
                </div>
            </div>
        </div>
        <button class="beauty-button button-blue-paw hvr-grow" type="submit">Crear cuenta</button>
        <div class="register">
            <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
        </div>
    </form>
    {% if form.errors %}
        <div class="modal is-visible register" id="modal1">
            <div class="modal-dialog">
                    {% for i in errores %}
                        <p>{{ i }}</p><br>
                    {% endfor %}
                <button class="beauty-button button-blue" onclick="cerrar()">Cerrar</button>
            </div>
        </div>
    {% endif %}
{% endblock content %}

