<!DOCTYPE  html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/foot.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/header.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dropdown_menus.js' %}"></script>
    {% block include %}
    {% endblock %}
    <title> {% block title %} AdoptApp {% endblock %} </title>
</head>

<body>
    <div id="container">
    <nav id="navbar">
        <ul>
            <li>
                <a href= "{% url 'home' %}"><img class="logo clickable" src="{% static 'images/logo-adoptapp.png' %}"/></a>
            </li>
           <li class="search-icon">
                <div class="search" id="buscar-adoptapp">
                        <button type="submit" form="filterForm" class="fa-button">
                            <span class="fas fa-search highlight-color"></span>
                        </button>
                        <input class="input-field" form="filterForm" type="search" name="q" placeholder="Buscar en AdoptApp">
                </div>
           </li>
            <li class="filter-icon" id="filter_li">
                <a class="fas fa-filter clickable white" href="#" id="filterLink"></a>
                <div id="filterContainer">
                    <div id="filterBody" class="filterOption">
                        <form action="{% url 'results' %}" id="filterForm" method="get">
                            {% csrf_token %}
                            <div class="filter-form-group">
                                <label class="filter-text" for="filter-region">Región</label>
                                <select id="filter-region" name="filter-region">
                                    <option value=""> Cualquiera </option>
                                    <option value="1">Tarapacá</option>
                                    <option value="2">Antofagasta</option>
                                    <option value="3">Atacama</option>
                                    <option value="4">Coquimbo</option>
                                    <option value="5">Valparaíso</option>
                                    <option value="6">O’Higgins</option>
                                    <option value="7">Maule</option>
                                    <option value="8">Biobío</option>
                                    <option value="9">Araucanía</option>
                                    <option value="10">Los Lagos</option>
                                    <option value="11">Aysén</option>
                                    <option value="12">Magallanes</option>
                                    <option value="13">Metropolitana</option>
                                    <option value="14">Los Ríos</option>
                                    <option value="15">Arica y Parinacota</option>
                                    <option value="16">Ñuble</option>
                                </select>
                            </div>
                            <div class="filter-form-group">
                                <label class="filter-text" for="filter-specie">Especie</label>
                                <select id="filter-specie" name="filter-specie">
                                    <option value=""> Cualquiera </option>
                                    <option value="G"> Gato </option>
                                    <option value="P"> Perro </option>
                                    <option value="E"> Erizo </option>
                                    <option value="C"> Conejo </option>
                                    <option value="L"> Loro </option>
                                    <option value="TO"> Tortuga </option>
                                    <option value="TA"> Tarantula </option>
                                    <option value="O"> Otro </option>
                                </select>
                            </div>
                            <div class="filter-form-group">
                                <label class="filter-text" for="filter-sex">Sexo</label>
                                <select id="filter-sex" name="filter-sex">
                                    <option value=""> Cualquiera </option>
                                    <option value="MA"> Macho </option>
                                    <option value="HE"> Hembra </option>
                                </select>
                            </div>
                            <div class="filter-form-group">
                                <label class="filter-text" for="filter-size">Tamaño</label>
                                <select id="filter-size" name="filter-size">
                                    <option value=""> Cualquiera </option>
                                    <option value="GR"> Grande </option>
                                    <option value="ME"> Mediano </option>
                                    <option value="PE"> Pequeño </option>
                                </select>
                            </div>
                            <div class="filter-form-group">
                                <label class="filter-text" for="filter-parasites">Desparasitado</label>
                                <select id="filter-parasites" name="filter-parasites">
                                    <option value=""> Cualquiera </option>
                                    <option value="SI"> Sí </option>
                                    <option value="NO"> No </option>
                                </select>
                            </div>
                            <div class="filter-form-group">
                                <label class="filter-text" for="filter-sterilized">Esterilizado</label>
                                <select id="filter-sterilized" name="filter-sterilized">
                                    <option value=""> Cualquiera </option>
                                    <option value="SI"> Sí </option>
                                    <option value="NO"> No </option>
                                </select>
                            </div>
                            <div class="filter-form-group">
                                <label class="filter-text" for="filter-vaccinated">Vacunado</label>
                                <select id="filter-vaccinated" name="filter-vaccinated">
                                    <option value=""> Cualquiera </option>
                                    <option value="SI"> Sí </option>
                                    <option value="NO"> No </option>
                                </select>
                            </div>
                            <div class="filter-form-group">
                                <label class="filter-text" for="filter-status">Callejero</label>
                                <select id="filter-status" name="filter-status">
                                    <option value=""> Cualquiera </option>
                                    <option value="Calle"> Sí </option>
                                    <option value="Mío"> No </option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
                <li class="separator"></li>
            {% if request.user.is_authenticated %}
                <div class = "user-options">
                    <li>
                        <a id="add_post" href="{%  url 'create_post' %}"><img class="clickable" />Agregar publicación</a>
                    </li>
                    <li class="avatar">
                        <a href="{{ request.user.get_profile_url }}"><img class="clickable" src="{% static 'images/default-avatar.png' %}" /></a>
                    </li>
                    <li  id="option_li">
                            <a class="fas fa-bars clickable icon-l white" href="#" id="optionLink"></a>
                             <div id="optionContainer">
                                <div id="optionBody" class="options">
                                    <ul>
                                    <li class="menuItem"> <a href="{{ request.user.get_profile_edit_url}}">Configuración de perfil</a></li>
                                    <li class="menuItem"> <a href="{% url 'logout' %}">Cerrar sesión</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </li>
                </div>
            {% else %}
                <li><a class="clickable white" href="/login">Iniciar Sesión</a></li>
            {% endif %}


        </ul>
    </nav>

    <div class="m-shadow-section" id="content">
        {% block content %}

        {% endblock %}
    </div>

    <div id = footer>
        <p class="container creditos">
        <p class="text-center vspaced5">Proyecto del curso CC4401 - Ingeniería de Software.</p>
        <p class="text-center vspaced5">Equipo 01</p>
        <p class="text-center vspaced5"> Icono ''Paw'' creación de <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">
            Freepik</a>, extraídos de <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
        <p class="text-center vspaced5">Fotos extraídas de <a href="https://www.pexels.com/search/dog/" title="Pexels">www.pexels.com </a>
        </p>
    </div>
</div>

</body>
</html>