<!DOCTYPE  html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/foot.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/header.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dropdown_menus.js' %}"></script>
    {% block include %}
    {% endblock %}
    <title> {% block title %} AdoptApp {% endblock %} </title>
</head>

<body>
    <div id="container">
    <nav id="navbar">
        <ul>
            <li>
                <a href= "{% url 'home' %}"><img class="logo clickable" src="{% static 'images/logo-adoptapp.png' %}"/></a>
            </li>
           <li class="search-icon">
                <div class="search" id="buscar-adoptapp">
                        <span class="fas fa-search highlight-color"></span>
                        <input class="input-field" type="search" placeholder="Buscar en AdoptApp">
                </div>
           </li>
            <li class="filter-icon" id="filter_li">
                <a class="fas fa-filter clickable white" href="#" id="filterLink"></a>
                <div id="filterContainer">
                    <div id="filterBody" class="filterOption">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <label for="adoptar" class="switch">
                                    <input class="filterOption" type="checkbox" id="adoptar">
                                    <span class="slider round filterOption" ></span>
                                    </label>
                                </td>
                                <td>
                                    <span>Adoptar</span>
                                </td>
                            </tr>
                            <tr>
                            <tr>
                                <td>
                                    <label for="dar" class="switch">
                                    <input class="filterOption" type="checkbox" id="dar">
                                    <span class="slider round filterOption" ></span>
                                    </label>
                                </td>
                                <td>
                                    <span class>Dar en adopción</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </li>
                <li class="separator"></li>
            {% if request.user.is_authenticated %}
                <div class = "user-options">
                    <li>
                        <a id="add_post" href="{%  url 'create_post' %}"><img class="clickable" />Agregar publicación</a>
                    </li>
                    <li class="avatar">
                        <a href="{{ request.user.get_profile_url }}"><img class="clickable" src="{% static 'images/default-avatar.png' %}" /></a>
                    </li>
                    <li  id="notification_li">
                        <span id="notification_count">3</span>
                        <a class="fas fa-bell clickable icon-l white" href="#" id="notificationLink"></a>
                        <div id="notificationContainer">
                            <div id="notificationTitle"></div>
                            <div id="notificationBody" class="notifications"></div>
                            <div id="notificationFooter"><a href="#">Ver todas</a></div>
                        </div>
                    </li>
                    <li  id="option_li">
                            <a class="fas fa-bars clickable icon-l white" href="#" id="optionLink"></a>
                             <div id="optionContainer">
                                <div id="optionBody" class="options">
                                    <ul>
                                    <li class="menuItem"> <a href="{{ request.user.get_profile_edit_url}}">Configuración de perfil</a></li>
                                    <li class="menuItem"> <a href="{% url 'logout' %}">Cerrar sesión</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </li>
                </div>
            {% else %}
                <li><a class="clickable white" href="/login">Iniciar Sesión</a></li>
            {% endif %}


        </ul>
    </nav>

    <div class="m-shadow-section" id="content">
        {% block content %}

        {% endblock %}
    </div>

    <div id = footer>
        <p class="container creditos">
        <p class="text-center vspaced5">Proyecto del curso CC4401 - Ingeniería de Software.</p>
        <p class="text-center vspaced5">Equipo 01</p>
        <p class="text-center vspaced5"> Icono ''Paw'' creación de <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">
            Freepik</a>, extraídos de <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
        <p class="text-center vspaced5">Fotos extraídas de <a href="https://www.pexels.com/search/dog/" title="Pexels">www.pexels.com </a>
        </p>
    </div>
</div>

</body>
</html>