/*- - - - - - - - - - - - - MODAL - - - - - - - - - - - - -  */

.modal {
  width: auto;
  box-sizing: border-box;
  text-align: center;
  background: #d6d6d6f5;
  box-shadow: #00000012 0 0 5px 3px;
  border-radius: 25px;
  position: fixed;
  top: 18%;
  left: 30%;
  right: 30%;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  height: auto;
}

.modal-header {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 100, 0);
}

.modal-header {
  font-size: 1.5rem;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

#imagenes-modal{
    text-align: center;
}

.modal-dialog{
    text-align: center;
    padding: 5% 5%;
}
