#content{
    text-align: center;
    padding: 30px 100px 20px 100px;
    min-width: 700px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 18px;
}


span{
    font-size: 14px;
}

.s16 {
    font-size: 16px;
}

.s28{
    font-size: 28px
}

.s18 {
    font-size: 18px;
}


.s14 {
    font-size: 14px;
}

.bold-500{
    font-weight: 500;
}

.fa-comments{
    font-size: 18px;
}

.fa-eye{
    font-size:18px;
}

.italic{
    font-style: italic;
}



.profile-photo{
    display: flex;
    width: 160px;
    height: 160px;
    cursor: pointer;
    vertical-align: center;
}

.profile-photo:hover~.fa-expand{
    display: inline;
}


@media screen and (max-width: 980px) {
    .profile-photo{
        width: 100px;
        height: 100px;
        margin-top: 40px;
    }

}

.fa-expand{
    width: 20px;
    right: 100px;
    top: 125px;
    color: #4a4a4a;
    display:none;
}

.profile-general-info{
    display: flex;
    flex-direction: row;
}

.profile-title{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.profile-description{
    display:flex;
    flex-direction: column;
    text-align: left;
    margin-left: 50px;
}

.join-date{
    padding-top:16px;
}

.profile-title{

}
.fa-cogs{
    margin-top: -5px;
    padding-left: 20px;
}


.cinf{
    margin-left: 80px;
}

.fas{
    cursor: pointer;
}

.fa-comments{
    margin-left: 8px;
    margin-right: 9px;
}

/* CONFIG_PROFILE.HTML */
#title-privacy{
    background-color: #ffc300;
    border-color: #c8b516;
    width: 360px;
}

.cancel-save-buttons{
    margin-top: 30px;
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

#title-password{
    background-color: #ff3333;
    border-color: #be1b1b;
    width: 230px;
}

.special-left-align{
    padding-right: 30%;
    text-align: right;
}

button {
	box-shadow: 0px 10px 14px -7px #5d5c5c;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
    font-size: 14px;
	color:#ffffff;
	text-decoration:none;
}

.myButton:active {
	position:relative;
	top:1px;
}


.navicon{
    padding-left: 20px;
}

.fa-globe{
    font-size: 14px;
}

.fa-chevron-down{
    font-size: 14px;
    cursor: pointer;
}

.fa-pencil-alt{
    font-size: 14px;

}

.row {
    display: flex;
    margin-bottom: 10px;

}

.column {
    flex: 50%;
    padding: 10px;
}
