form {
    width: 40%;
    text-align: center;
    margin: 15% auto;
    padding: 30px;
    background: rgba(210, 210, 210, 0.68);
    box-shadow: #00000012 0 0 5px 3px;
    border-radius: 25px;
}

.day-column{
    width: 15%;
}

.month-column{
    width: 30%;
}

.year-column{
    width: 15%;
}

.form-input > div{
    margin-left: 2px;
    margin-right: 2px;
}

#show_pwd {
    display: flex;
    align-items: center;
}
