{% extends "users/base-authentication.html" %}
{% load static %}
{% block title %}
    Crear publicación
{% endblock title %}
{% block include %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/create_post.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock include %}
{% block content %}
    <form method="post">
        <div class="form-group">
            <label class="form-text" for="nombre">Nombre de la mascota (*):</label>
            <span class="form-input">
                <input type="text" name="nombre" id="nombre">
            </span>
        </div>
        <div class="form-group">
            <label class="form-text" for="especie">Especie (*): </label>
            <span class="form-input">
                <select name="especie" id="especie" required>
                    <option value="" disabled selected>Elija una opción</option>
                    <option value="">Especie 1</option>
                    <option value="">Especie 2</option>
                    <option value="">Especie 3</option>
                </select>
            </span>
        </div>
        <div class="form-group">
            <label class="form-text" for="raza">Raza: </label>
            <span class="form-input">
                <select name="raza" id="raza" required>
                    <option value="" disabled selected>Elija una opción</option>
                    <option value="">Raza 1</option>
                    <option value="">Raza 2</option>
                    <option value="">Raza 3</option>
                </select>
            </span>
        </div>
        <div class="form-group">
            <label class="form-text" for="sexo">Sexo (*): </label>
            <span class="form-input">
                <select name="sexo" id="sexo" required>
                    <option value="" disabled selected>Elija una opción</option>
                    <option value="">Macho</option>
                    <option value="">Hembra</option>
                </select>
            </span>
        </div>
        <div class="form-group">
            <label class="form-text" for="tamano">Tamaño según su especie (*): </label>
            <span class="form-input">
                <select name="tamano" id="tamano" required>
                    <option value="" disabled selected>Elija una opción</option>
                    <option value="">Pequeño</option>
                    <option value="">Mediano</option>
                    <option value="">Grande</option>
                </select>
            </span>
        </div>
        <div class="form-group">
            <label class="form-text" for="desparasitado">Está desparasitado? (*): </label>
            <span class="form-input">
                <select name="desparasitado" id="desparasitado" required>
                    <option value="" disabled selected>Elija una opción</option>
                    <option value="">Sí</option>
                    <option value="">No (si no sabes marca esta opción)</option>
                </select>
            </span>
        </div>
        <div class="form-group">
            <label class="form-text" for="vacunado">Está vacunado? (*): </label>
            <span class="form-input">
                <select name="vacunado" id="vacunado" required>
                    <option value="" disabled selected>Elija una opción</option>
                    <option value="">Sí</option>
                    <option value="">No</option>
                    <option value="">No sé</option>
                </select>
            </span>
        </div>
        <div class="form-group">
            <label class="form-text" for="esterilizado">Está esterilizado? (*): </label>
            <span class="form-input">
                <select name="esterilizado" id="esterilizado" required>
                    <option value="" disabled selected>Elija una opción</option>
                    <option value="">Sí</option>
                    <option value="">No</option>
                    <option value="">No sé</option>
                </select>
            </span>
        </div>
        <div class="form-group">
            <label class="form-text" for="lugar">Lugar (*): </label>
            <span class="form-input">
                <input type="text" name="lugar" id="lugar" required>
            </span>
        </div>
        <div class="form-group">
            <label class="form-text" for="descripcion">Descripción (*): </label>
            <span class="form-input">
                <textarea name="descripcion" id="descripcion" rows="10" cols="60" required></textarea>
            </span>
        </div>
        <div class="form-group">
            El animal es:
            <span><input type="radio" name="mio" id="mio" value="">Mío</span>
            <span><input type="radio" name="calle" id="calle" value="">De la calle</span>
        </div>
        <div class="form-group">
            <label class="form-text" for="fecha">Fecha del avistamiento (*): </label>
            <span class="form-input">
                <input type="date" name="fecha" id="fecha">
            </span>
        </div>
        <div class="form-group">
            <label class="form-text" for="foto">Agregar foto: </label>
            <span class="form-input">
                <input type="file" name="foto" id="foto">
            </span>
        </div>
        <button type="submit">Crear publicación</button>
</form>
{% endblock content %}

