{% extends "base.html" %}
{% load static %}
{% block title %}
    Publicación
{% endblock title %}
{% block include %}
    <link rel="stylesheet" href="{% static 'css/scrollable_section.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/post.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock include %}
{% block content %}
    <div class="post-section" id="post-general-info">
        <img class="post-main-photo" src="{{ image_urls.0 }}" alt="Pet photo">
        <div class="profile-title">
            <h4 class="light-300 soft-brown">
                {{ post.get_specie_display }} -
                {% if post.breed %}{{ post.breed }}
                {% else %} Raza no especificada
                {% endif %}
            </h4>
            <h3 class="bold-700 deep-blue">{{ post.pet_name }}</h3>
            <h5 class="light-300">
                Publicado el {{ post.post_date }},
                por <a href="{% url 'profile' post.author.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a></h5>
            <h5 class="light-300 italic">
                Sexo: {{ post.get_sex_display }}
            </h5>
            <h5 class="light-300">Tamaño: {{ post.get_pet_size_display }}</h5>
        </div>
    </div>

    <div class="post-section" id="post-warnings">
        <div class="post-warning" id="warning-avistamiento">
            {% if post.status == 'Calle' %}
                <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/break.png"/>
                <div class="warning-details">
                    <h5>Esta publicación corresponde a un avistamiento.</h5>
                    <h6><b>Fecha del avistamiento:</b>
                        {% if post.sighting_date %}{{ post.sighting_date }}
                        {% else %} No especificada
                        {% endif %}
                    </h6>
                    <h6><b>Sector:</b> {{ post.comuna }}, <br>{{ post.comuna.region }}</h6>
                </div>
            {% else %}
                <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/ok.png"/>
                <div class="warning-details">
                    <h5>Animal en posesión del autor.</h5>
                    <h6><b>Sector:</b> {{ post.comuna }}, <br>{{ post.comuna.region }}</h6>
                </div>
            {% endif %}
        </div>

        <div class="post-warning" id="warning-desparasitado">
            {% if post.parasytes == 'SI' %}
                <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/ok.png"/>
                <div class="warning-details">
                    <h5>Animal desparasitado.</h5>
                </div>
            {% else %}
                <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/break.png"/>
                <div class="warning-details">
                    <h5>Animal no desparasitado.</h5>
                </div>
            {% endif %}
        </div>

        <div class="post-warning" id="warning-vacuna">
            {% if post.vaccinated == 'SI' %}
                <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/ok.png"/>
                <div class="warning-details">
                    <h5>Animal vacunado.</h5>
                </div>
            {% else %}
                <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/break.png"/>
                <div class="warning-details">
                    <h5>Animal no vacunado.</h5>
                </div>
            {% endif %}
        </div>

        <div class="post-warning" id="warning-esterilizado">
            {% if post.sterilized == 'SI' %}
                <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/ok.png"/>
                <h5>Animal esterilizado.</h5>
            {% else %}
                <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/break.png"/>
                <h5>Animal no esterilizado.</h5>
            {% endif %}
        </div>
    </div>

    <div class="post-section" id="post-description">
        <div class="bold-700 deep-blue p22">Descripción</div>
        <h5 class="light-300"> {{ post.description }} </h5>
    </div>

    <div class="post-section" id="post-photos">
        {% for url in image_urls %}
            <a href="{{ url }}" data-lightbox="pet">
                <img class="post-photo hvr-big-grow" src="{{ url }}" alt="Foto"/>
            </a>
        {% endfor %}
    </div>

    <script type="text/javascript" src="{% static 'posts/js/lightbox.js' %}"></script>

    {% if request.user == post.author %}
        <div id="content-inter">
            <div class="profile-section" id="publications-section">
            <h5 class="section-title">Interesados</h5>
            <div id="publications-list">

             {% for user,date in interested_users %}
                <div class="publication">
                    <div class="publication-info">
                        <img class="publication-photo" src="{% static 'images/default-avatar.png' %}" alt="Avatar">
                        <div class="publication-details">
                            <div class="publication-title-info">
                                <span class="bold-700 s16">{{ user.first_name}} {{ user.last_name }} </span>

                            </div>
                            <div class="publication-detail">
                                <span class="bold-500 s14">{{ user.email }} <br>
                                    {{ user.phone_number }}</span>
                            </div>

                        </div>
                        <div class="publication-date-button">
                            <div class="publication-date">Interesado desde {{ date }}</div>
                            <a href="{% url 'profile' user.id %}">
                                <button class="beauty-button button-blue go-to-publication">Ir al perfil</button>
                            </a>
                        </div>
                    </div>
                </div>
             {% empty %}
                 <div class="publication">
                    <p>Aún no hay interesados</p>
                 </div>

             {% endfor %}

              </div>
            </div>
        </div>
    {% elif request.user.is_authenticated %}
        <div class="interested-section">
            <script defer type="text/javascript" src="{% static 'posts/js/interestedButton.js' %}"></script>
            <input type="hidden" id="userId" value="{{ request.user.id }}">
            <input type="hidden" id="postId" value="{{ post.id }}">
            <button class="s18 beauty-button button-blue-paw hvr-shadow" id="interestedButton">Me interesa</button>
            <button class="s18 beauty-button button-yellow hvr-shadow" id="alreadyInterestedButton">Ya no me interesa</button>

            <div id="notInterestedMessage" class="s14 interested-ok">Ha sido removido satisfactoriamente de la lista de interesados.</div>
            <div id="interestedMessage" class="s14 interested-ok">El autor de la publicación ha sido informado y se contactará con usted si lo considera apto.</div>

        </div>
    {% endif %}
{% endblock content %}
