{% extends "base.html" %}
{% load static %}
{% block title %}
    Publicación
{% endblock title %}
{% block include %}
    <link rel="stylesheet" href="{% static 'posts/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/post.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>


{% endblock include %}
{% block content %}
        <div class="post-section" id="post-general-info">
            <img class="post-main-photo" src="{% static 'images/default-avatar.png' %}" alt="Pet photo">
            <div class="profile-title">
            <h4 class="light-300 soft-brown">Especie - Raza</h4>
            <h3 class="bold-700 deep-blue">Nombre de la mascota</h3>
                <h5 class="light-300">
                    Publicado el {# % request.post.fecha % #} 20/12/2020,
                    por <a>{# % request.post.autor % #} Nombre Apellido</a></h5>
                <h5 class="light-300 italic">
                    {# % request.post.sexo % #} Sexo desconocido
                </h5>
                <h5 class="light-300">Tamaño {# % request.post.tamano % #} pequeño</h5>
            </div>
        </div>

        <div class="post-section" id="post-warnings">
            <div class="post-warning" id="warning-avistamiento">
                {# % if request.post.avistamiento == 1 % #}
                <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/break.png"/>
                <div class="warning-details">
                    <h5>Esta publicación corresponde a un avistamiento.</h5>
                    <h6><b>Fecha del avistamiento:</b> 15 Jun 2021</h6>
                    <h6><b>Sector:</b> Melipilla</h6>
                </div>
                <!-- {# % else % #}
                 <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/ok.png"/>
                 <div class="warning-details">
                     <h5>Animal en posesión del autor.</h5>
                     <h6><b>Sector:</b> Melipilla</h6>
                 </div>
                 {# % endif % #} -->
             </div>

            <div class="post-warning" id="warning-desparasitado">
                {# % if request.post.desparasitado == 1 % #}
                <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/ok.png"/>
                <div class="warning-details">
                    <h5>Animal desparasitado.</h5>
                    <h6><b>Fecha última desparasitación:</b> 15 Jun 2021</h6>
                </div>
                <!-- {# % else % #}
                <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/break.png"/>
                <div class="warning-details">
                    <h5>Animal no desparasitado.</h5>
                </div>
                {# % endif % #} -->
            </div>

             <div class="post-warning" id="warning-vacuna">
                 {# % if request.post.vacunado == 1 % #}
                 <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/ok.png"/>
                 <div class="warning-details">
                     <h5>Animal vacunado.</h5>
                     <h6><b>Fecha última vacuna:</b> 15 Jun 2021</h6>
                 </div>
                 <!-- {# % else % #}
                 <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/break.png"/>
                 <div class="warning-details">
                     <h5>Animal sin vacunas al día/no vacunado.</h5>
                     <h6><b>Fecha última vacuna:</b> 15 Jun 2021</h6>
                 </div>
                 {# % endif % #} -->
             </div>

             <div class="post-warning" id="warning-esterilizado">
                 {# % if request.post.esterilizado == 1 % #}
                 <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/ok.png"/>
                 <h5>Animal esterilizado.</h5>
                <!--  {# % else % #}
                 <img class="warning-sign" src="https://img.icons8.com/fluent/48/000000/break.png"/>
                 <h5>Animal no esterilizado.</h5>
                 {# % endif % #} -->
             </div>
         </div>

         <div class="post-section" id="post-description">
             <div class="bold-700 deep-blue p22">Descripción</div>
             <h5 class="light-300"> {% lorem 100 w %}. </h5>
         </div>

         <div class="post-section" id="post-photos">
             <a href="{% static 'posts/media/example1.jpeg' %}" data-lightbox="pet">
                 <img class="post-photo" src="{% static 'posts/media/example1.jpeg' %}"/>
             </a>
             <a class="post-photo" href="{% static 'posts/media/example2.jpg' %}" data-lightbox="pet">
                 <img class="post-photo" src="{% static 'posts/media/example2.jpg' %}"/>
             </a>
             <a class="post-photo" href="{% static 'posts/media/example3.jpg' %}" data-lightbox="pet">
                <img class="post-photo" src="{% static 'posts/media/example3.jpg' %}"/>
             </a>
             <a class="post-photo" href="{% static 'posts/media/example4.jpg' %}" data-lightbox="pet">
                <img class="post-photo" src="{% static 'posts/media/example4.jpg' %}"/>\
             </a>
         </div>

<script type="text/javascript" src="{% static 'posts/js/lightbox.js' %}"></script>
 {% endblock content %}
